*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
    font-family: 'Roboto', sans-serif;
}

#container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #f2f2f2;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

#search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

#search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

#search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

#search-box button:hover{
    color: #fff;
    background: #06283D;
}

#search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
    margin-left: 6px;
}

#result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 0;
    opacity: 0;
}

#result-box #emission-data{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
}

#weather-box #emission-data span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

#not-found{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

#not-found img{
    width: 100%;
}

#not-found #invalid-location{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.fade-in{
    animation: 0.5s fade-in forwards;
    animation-delay: 0.5s;
}

@keyframes fade-in{
    to {
        scale: 1;
        opacity: 1;
    }
}

#login-button{
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #f2f2f2;
    color: #06283D;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

#login-text{
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    z-index: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Login Form Styles */
#login-panel {
    max-width: 275px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    text-align: center;
}

#headline-login {
    text-align: center;
    margin-bottom: 20px;
}

#headline-login h1 {
    font-size: 24px;
    color: #333;
}

#login-form input {
    margin-bottom: 15px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #45a049;
}